# HTML, CSS, and JS in language stats
*.js linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true

# Languages Used
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
